<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Form</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    {{request.user}}
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand">Navbar</a>
        <form class="form-inline">

            {% if request.user.is_authenticated %}
          <a href="/logout/"class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</a>
          {% else %}
          <a href="/login/" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</a>

          {% endif %}
        </form>
      </nav>
  <div class="container mt-5 card shadow">
    <h2>Recipe Form</h2>


    <form action="#" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
      <!-- Name field -->
      <div class="form-group">
        <label for="name">Recipe Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
      </div>

      <!-- Description field -->
      <div class="form-group">
        <label for="description">Recipe description</label>
        <textarea class="form-control" id="description" name="description" rows="4" placeholder="Enter a description" required></textarea>
      </div>

      <!-- Image upload field -->
      <div class="form-group">
        <label for="image">Upload Image</label>
        <input type="file" class="form-control-file" id="image" name="image" accept="image/*">
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary m-3">Submit</button>
    </form>
  </div>

  <div class="container mt-5">
    <form method="get" action="#">
        <div class="mb-3">
            <label for="name">Search Recipe</label>
            <input type="text" class="form-control" placeholder="Search..." name="search">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
</div>



  <div class="container mt-5">
    <h2>Recipe Table</h2>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Recipe Name</th>
        <th scope="col">Recipe Description</th>
        <th scope="col">Image</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>

        {% for recipe in recipes %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{recipe.recipe_name}}</td>
        <td>{{recipe.recipe_description}}</td>
        <td> 
        <img src='/media/{{recipe.recipe_image}}'  style="height: 200px" >
         </td>
         <td>
            <a href='/delete-recipe/{{recipe.id}}' class="btn btn-danger m-2">Delete </a>
            <a href='/update-recipe/{{recipe.id}}' class="btn btn-primary">Update </a>
         </td>
      </tr>
      {% endfor %}
      <tbody>

</table>
</div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
